.FlagApp-Title{
    text-align:center;
    color:rgb(209, 157, 26);   
    font-size: 3em;
    margin-bottom:0;
  }
.FlagApp-Sub{
    text-align:center;
    color:rgb(53, 48, 2);   
    margin-top:0;
    margin-bottom:0;
  }