.SavedFlags{
  text-align: center;
  margin-bottom:3rem;
}

.SavedFlags-Flags{
    display: flex;
    justify-content: space-evenly;
    margin:auto;
    flex-wrap: wrap;
    background-color: rgba(0, 126, 31, 0.747); 
    width:97vw;
    padding-top:0;
    border-top: double 0.7rem goldenrod;
    border-bottom: double 0.7rem goldenrod;
    box-shadow: 0px 0px 10px 3px rgb(54, 54, 54) ;
}

.SavedFlags-Title{
  text-align:left;
  margin-top:0;
  margin-left:2rem;
  color:rgb(32, 29, 1);
  border-bottom: double 0.2rem goldenrod;
  width:12vw;
}

